<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Buses list <%=list.length%>
  </h1>
  <div>
    <ol>
      <%for(let bus of list){%>
        <li>
          Destination station - <%=bus.destination%> <br>
            Bus Depart - <%=bus.depart%> <br>
              Bus trip duration - <%=bus.duration%> <br>
                Bus ticket price - <%=bus.price%>
        </li>

        <%}%>
    </ol>
  </div>
</body>

</html>